/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@font-face {
  font-family: 'Myriad Pro';
  src: url('webfonts/MyriadPro-Bold.woff2') format('woff2'),
      url('webfonts/MyriadPro-Bold.woff') format('woff'),
      url('webfonts/MyriadPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro Cond';
  src: url('webfonts/MyriadPro-Cond.woff2') format('woff2'),
      url('webfonts/MyriadPro-Cond.woff') format('woff'),
      url('webfonts/MyriadPro-Cond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('webfonts/MyriadPro-Regular.woff2') format('woff2'),
      url('webfonts/MyriadPro-Regular.woff') format('woff'),
      url('webfonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('webfonts/MyriadPro-Light.woff2') format('woff2'),
      url('webfonts/MyriadPro-Light.woff') format('woff'),
      url('webfonts/MyriadPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('webfonts/MyriadPro-Semibold.woff2') format('woff2'),
      url('webfonts/MyriadPro-Semibold.woff') format('woff'),
      url('webfonts/MyriadPro-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


:root {
  --theme__color1: #182b62;
  --theme__color2: #D35C00;
  --myriad-pro: 'Myriad Pro';
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--myriad-pro);
  background-color: #fff;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
a, a:active, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1399px) and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}




/* header */
.header-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-top {
  background-image: -moz-linear-gradient( 90deg, rgb(24,42,97) 0%, rgb(2,17,61) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(24,42,97) 0%, rgb(2,17,61) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(24,42,97) 0%, rgb(2,17,61) 100%);
  color: #fff;
}

.header-top__inner {
  display: flex;
  justify-content: flex-end; 
  align-items: flex-end;
}
.s-menu {
  gap: 24px;
  padding: 23px 0;
  display: flex;
}
.s-menu li {

}
.s-menu li a {
  font-size: 14px;
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  color: var(--theme__color1);
  outline: 2px solid #fff;
  outline-offset: 5px;
  padding-top: 1px;
  transition: .3s;  
}
.s-menu li a:hover {
  background: var(--theme__color2);
  color: white;
  outline-color: var(--theme__color2);
}
.header-top__inner .dropdown {
	padding: 10px 24px 0;
	font-size: 16px;
	margin-left: 90px;
	color: #818181;
	background: #fff;
	border-radius: 7px 7px 0 0;
	text-align: center;
	line-height: 1.15;
	transition: 0.3s;
}
.header-top__inner .dropdown:hover{
  background: #182b62;
  color: #fff;
}


.header-top__inner .dropdown-menu {
	background: #818181;
	padding: 5px 12px;
	max-width: 330px;
	width: 100%;
	min-width: 330px;
	transform: translate(-225px, 54px) !important;
}
/* .header-top__inner .dropdown-menu::after{
  position: absolute;
  left: 0;
  bottom: 100%;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 11px 9px;
  border-color: transparent transparent #818181 transparent;
} */
.main-menu > ul > li {
  position: relative;
}
.main-menu > ul > li:hover ul.submenu{
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.main-menu ul li ul.submenu {
	position: absolute;
	left: 0px;
	background: #fff;
	width: 186px;
	padding: 6px 12px;
	border-bottom: 2px solid var(--theme__color2);
  transition: .3s;
  top: 110%;
  opacity: 0;
  visibility: hidden;
}
.main-menu ul li ul.submenu > li:hover > a{
    color: var(--theme__color2);
}
.main-menu ul li ul.submenu li a{
  font-weight: 500;
  padding: 4px 0px;
  display: block;
  transition: .3s;
}
.main-menu ul li ul.submenu li{
  position: relative;
}
.main-menu ul li ul.submenu > li > ul.submenu{
  left: 120%;
  top: 0px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.178);
}
.main-menu ul li ul.submenu > li:hover > ul.submenu{
  left: calc(100% + 12px);
  top: 0px;
  opacity: 1;
  visibility: visible;
}

.user_form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}
.user_input {
  flex: 0 0 auto;
  width: calc(50% - 3px);
}
.user_input input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: none;
  padding: 0px 10px;
}
.user_submit button {
  height: 43px;
  border: none;
  border-radius: 4px;
}

.ht-enter-a.show i {
    transform: rotate(180deg);
    top: 8px;
    color: #818181;
}
.ht-enter-a i {
  font-size: 26px;
  transition: .3s;
  position: relative;
}


.header-bottom {

}
.header-bottom__inner {
  gap: 50px;
  display: flex;
  align-items: center;
}
.header__logo__1 {
  display: block;
  width: 205px;
}
.header__logo__2 {
  display: block;
  width: 205px;
  margin-left: auto;
}
.main-menu {

}
.main-menu > ul {
  display: flex;
  gap: 33px;
}
.main-menu > ul > li {

}
.main-menu > ul > li > a {
  padding: 27px 12px;
  font-size: 20px;
  color: var(--theme__color1);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  display: flex;
  transition: 0.3s;
}
.main-menu > ul > li > a:hover{
  color: var(--theme__color2);
  border-color: var(--theme__color2);
}
.main-menu > ul > li > a.active {
  color: var(--theme__color2);
  border-color: var(--theme__color2);
  font-weight: 700;
}
/* header-end */





/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offcanvas-open:hover {
  color: #97A3AE;
}
.offcanvas-close {
  color: var(--theme__color1);
  position: absolute;
  transition: 0.3s;
  right: 25px;
  top: 25px;
}
.off-submenu li a {
  padding: 3px 0px !important;
  display: block;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: #d5dce2;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.offcanvas-menu ul li a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: var(--theme__color1);
  padding: 10px;
}
.offcanvas-menu ul li a.dropdown-toggle::after{
  top: 2px;
  position: relative;
}

.dropdown-menu-custom ul {
  background: #fff;
  padding: 20px 0;
}
.dropdown-menu-custom ul li a {
  color: #97A3AE;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */




/* ---hero-section--- */
.hero-section {
  padding: 100px 0 200px;
  background: url('images/hero-image.png') no-repeat center center/cover;
  color: #fff;
}
.hero-section__inner {

}
.hero__content {

}
.hero__content .h1 {
  font-size: 28px;
  margin: 0 0 1px;
  text-shadow: 0px 3px 1.68px rgba(0, 0, 0, 0.35);
}
.hero__content p {
  font-size: 20px;
  line-height: 1.2;
  text-shadow: 0px 3px 1.68px rgba(0, 0, 0, 0.35);
  color: #dddddd;
}
.hero__content .bottom-button {
  margin: 7px 0 0;
  min-width: 110px;
  justify-content: flex-start;
}

.swiper-pagination span {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: rgba(255,255,255, 0.6);
  display: inline-block;
  cursor: pointer;
}
.swiper-pagination {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 0px;
  z-index: 11;
  width: 100%;
  left: 0px;
  justify-content: center;
  padding-bottom: 14px;
}
.hero-wrapper {
  position: relative;
}
.swiper-pagination span.swiper-pagination-bullet-active {
  background: #fff;
}

/* ---hero-section---end */


/* ---common--- */
.h2 {
  font-size: 28px;
  color: var(--theme__color1);
}
.cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sec-title {
  margin: 0 0 16px;
}
/* ---common---end */



/* ---note-section--- */
.note-section {
  padding: 70px 0;
}
.note-section__inner {

}
.note-section__title {

}

.note__row {

}
.note__row,
.note__row .row {
  --bs-gutter-x: 20px;
  --bs-gutter-y: 16px;
}
.note-blk {
  position: relative;
  overflow: hidden;
}
.note-blk .img {
  transition: .3s;
}
.note-blk:hover .img {
  transform: scale(1.1);
}
.note-blk__content {
  padding: 10px 15px;
  inset: auto 20px 20px 20px;
  position: absolute;
  background: rgba(0, 36, 98, 0.8);
  color: #fff;
}
.note-blk__content h4 {
  font-size: 18px;
  margin: 0 0 19px;
  font-weight: 400;
}
.note-blk__content h5 {
  font-weight: 400;
  font-size: 14px;
}
.note-blk__content h5 i {
  margin-right: 4px;
  font-size: 19px;
}
/* ---note-section---end */


/* ---post-section--- */
.post-section {
  padding: 70px 0;
}
.post-section__inner {

}
.post-section__title {

}

.post-row {

}
.post-single {
  position: relative;
  height: 187px;
  display: block;
  border-radius: 5px;
  overflow: hidden;
}
.post-single:hover .post_child{
  transform: scale(1.1);
}
.post_child{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
}

.post__content {
  padding: 12px 15px;
  inset: auto 28px 18px 28px;
  border-radius: 3px;
  position: absolute;
  background: rgba(0, 36, 98, 0.8);
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.post__content h4 {
  font-size: 18px;
  font-weight: 400;
}
/* ---post-section---end */


/* ---ticket-section--- */
.ticket-section {
  padding: 70px 0;
}
.ticket-section__inner {

}
.ticket-section__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-x {
  position: relative;
  width: 270px;
  max-width: 100%;
}
.search-x .search-icon {
  font-size: 12px;
  top: 12px;
  left: 13px;
  position: absolute;
  color: #a7aeb3;
}
.search-x .input {
  font-size: 14px;
  border-radius: 4px;
  padding: 6px 20px 6px 35px;
  border: 1px solid #DCE1E5;
  color: #6e7479;
  width: 100%;
}

.ticket-table-box {
  border: 1px solid #6a6f80;
}


.ticket-list-table table.table thead tr td {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #182b62;
    border-bottom: 1px solid #eee !important;
    padding: 18px 18px;
    transition: .3s;
}

.ticket-list-table table.table tbody tr:hover {
	background: #D3D3D3;
}

.ticket-list-table table.table thead tr td h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.ticket-list-table table.table thead tr td h4 img.icn {
    max-width: 8px;
}

.ticket-list-table table.table tbody tr td {
  font-size: 17px;
  color: #6a6f80;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #eee;
  transition: .3s;
}

.ticket-list-table table.table tbody tr td:first-child {
    text-align: start;
    padding-left: 28px;
}

.ticket-table-bottom {
    display: flex;
    align-items: center;
    padding: 10px 28px;
    justify-content: space-between;
}

.ticket-table-bottom ul {
    display: flex;
    align-items: center;
    gap: 5px;
}

.ticket-table-bottom ul li a {
  background: #D3D3D3;
  width: 38px;
  height: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: #6a6f80;
  font-size: 16px;
  font-weight: 500;
  transition: .3s;
}
.ticket-table-bottom ul li a:hover {
  background: #e5ebfd;
  color: #1d48ea;
}

.ticket-table-bottom ul li:first-child a {
    width: 50px;
}

.ticket-table-bottom ul li:last-child a {
    width: 70px;
}

.ticket-list-table table.table tbody tr td p .sm {
    display: block;
    font-size: 14px;
}

.pagination p {
    font-size: 18px;
    color: #6a6f80;
}
.ticket-list-table table.table thead tr td h4 {
	font-size: 18px;
}
/* ---ticket-section---end */




/* --- footer-css---start */
.footer-top {
    background-image: linear-gradient(to bottom, #03113d, #182a61);
    padding: 40px 0 50px;
}

.footer-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    margin-bottom: 40px;
}

.footer-top-row {
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-top-row .col-sm {
    padding-right: 20px;
    flex: 0 0 auto;
    width: 20%;
}

.footer-top-row .col-sm:first-child {
    padding-right: 50px;
}

.footer-menu ul li a {
    display: flex;
    align-items: center;
    padding: 5px 0px;
    gap: 7px;
}
.footer-menu ul li a .icon {
    line-height: 1;
    position: relative;
    top: -2px;
}
.footer-menu ul li a .icon img {
    max-width: 8px;
}
.footer-bottom {
    background: #02113d;
}

.footer-bottom__inner {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom__inner p {color: #9facd5;line-height: 36px;margin-bottom: 0px;}

/* --- footer-css---end */


/* ---s-hero-section--- */
.s-hero-section {
  padding: 50px 0 40px;
  background: url('images/s-hero-bg.png') no-repeat center center/cover, #16275C;
  /* background: url('images/s-hero-bg.png') no-repeat left center/auto 100%, #16275C; */
  color: #fff;
}
.s-hero-section__inner {

}
.s-hero-row {

}
.s-hero-content {

}
.s-hero-content .h1 {
  font-size: 30px;
}
.s-hero-content p {
  font-size: 14px;
  margin-bottom: 12px;
  color: #aeb2bd;
}
/* ---s-hero-section---end */



/* ---services-section--- */
.service-section {
  padding: 30px 0 150px;
}
.service-section__inner {

}
.service-s__row {

}
.service-s__row__main-side {
  margin-right: -14px;
}

.cont-media {
  border: 1px solid red;
}

.bbx-box {
  border: 1px solid red;
}
/* ---services-section---end */